{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="p-4 mb-4" style="background-color: #343a40; color: white; border-radius: 0.25rem;">
        <div class="row">

            <br>
            <br>
                <div>
                        <h3>Hier sind die wichtigsten Informationen, die du wissen musst:</h3>
                        <br>
                </div>
                <ul>
                    <li>
                        <strong>Abgabe der Tipps</strong>
                        <p>&nbsp;&nbsp;&nbsp;Tipps können für jedes Spiel bis 30 Minuten vor Anpfiff abgegeben werden. Danach können die Tipps nicht mehr verändert werden.</p>
                        <br>
                    </li>
                    <li>
                        <strong>Punktevergabe</strong>
                        <p>&nbsp;&nbsp;&nbsp;Für einen richtigen Tipp gibt es 3 Punkte.</p>
                        <p>&nbsp;&nbsp;&nbsp;Für die richtige Tendenz (also die richtige Richtung des Ergebnisses, z.B. Sieg, Unentschieden oder Niederlage) gibt es 1 Punkt.</p>
                        <br>
                    </li>
                    <li>
                        <strong>Tippen der KO-Phase</strong>
                        <p>&nbsp;&nbsp;&nbsp;Die Spiele der KO-Phase können nach Abschluss der Vorrunde getippt werden, sobald die teilnehmenden Mannschaften feststehen.</p>
                    </li>
                </ul>
                <p><strong>Viel Spaß und viel Erfolg beim Tippen!</strong></p>
        </div>
    </div>
</div>

{% endblock %}